<li id="comment-<%=comment._id%>">
    <p class="alig">
        <%if ((locals.user)&&(locals.user.id==comment.user.id)){%>
            <small>
                <a  class="delete-comment-button" href="/comments/destroy/<%=comment.id%>">X</a>
            </small>
            <%}%>
        
        <div class="postl"><%=comment.content%></div>
        <small id="name">
            <span>name -></span>
            <%=comment.user.name%>
        </small>

    </p>
</li>