<header class = "header">
    <h1>codeial</h1>
    <ul class = "ul1">
        <% if (locals.user){%>
            <section class ="c">
                <li>
                    <a href="users/profile" >
                        <%=user.name%>
                        
                    </a>
                </li>
                <li>
                    <a href="/users/sign-out">sign out</a>
                </li>

            </section>
           
        <%}else{%>
            <container class="c1"></container>
            <li>
                <a href="users/sign-in">sign in</a>
            </li>
            <li>
                <a href="users/sign-up">sign up</a>
            </li>




        <%}%>

    </ul>
</header>