#home-container {
  font-size: larger;
  display: flex; }
  #home-container #feed-posts {
    width: 70%;
    padding: 10px; }
  #home-container #user-friends {
    width: 30%;
    padding: 10px;
    border-left: 1px solid lightgrey;
    height: 100%; }
  #home-container .postl {
    border: 1px solid black;
    margin: 2px;
    text-align: center; }
  #home-container #name {
    background-color: antiquewhite; }

/*#posts-list-container{ 
    //background-color: aqua;
    display: block;
    ul{
        //text-decoration: underline;
        //display: block;
    }
    li{
        display: block;
        //list-style-type: circle;
        list-style-type: decimal;
        //text-decoration:none;
    }
}
.table{
    width: 15vw;
    height: 10vh;
    //border: 1px solid black;
    //box-sizing: auto;
    background-color: chartreuse;
    display: inline-block;
    font-size: large;
    
    
}*/
